<div class="container-sm">
  <h1>Mitarbeiter Verwaltung</h1>
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="tableBodyRows" *ngFor="let item of employees$ | async">
      <td (click)="displayEmployeeDetails(item.id)"> {{ item.id }}</td>
      <td (click)="displayEmployeeDetails(item.id)"> {{ item.firstName }}</td>
      <td (click)="displayEmployeeDetails(item.id)"> {{ item.lastName }}</td>
      <td>
        <app-action-button [id]="item.id" (toggleFromDetailToEdit)="toggleFromViewToEdit(item.id)"></app-action-button>
      </td>
    </tr>
    </tbody>
  </table>
  <button (click)="showCreateNewEmployee = true">Jetzt Erstellen</button>
</div>

<app-show-detail-employee *ngIf="showDetailEmployee" [id]="employeeId"
                          (showDetailEmployee)="hideShowDetailEmployee()" (toggleFromDetailToEdit)="toggleFromViewToEdit(employeeId)"></app-show-detail-employee>

<app-create-employee *ngIf="showCreateNewEmployee" [currentShowComponent]="showCreateNewEmployee" (showCreateComponent)="hideCreateNewEmployee()"></app-create-employee>

<app-edit-employee *ngIf="showEditComponent" [newId]="employeeId"> </app-edit-employee>
